<div id="@Id" class="@Class" style="@Style"></div>

@code {
    private string id = "echart-" + DateTime.Now.Ticks;

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public Option Option { get; set; }

    [Parameter]
    public string Theme { get; set; } = "light";

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(Id))
        {
            Id = id;
        }

        if (Option != null)
        {
            await JSRuntime.InitChart(Id, Option, Theme);
        }
    }
}
