<style>
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
</style>

<div class="container-fluid bg-1 text-center">
    <h2>
        Welcome to the Tindo.Blazor.ECharts
    </h2>
</div>

<div class="container-fluid bg-1 text-left">

    <p>
        <br />Use the navbar on the left (or the hamburger menu if you're on mobile) to switch between the samples.
        <br />
    </p>
    <h3></h3>
</div>

<div class="container-fluid bg-2 text-center">
    <h3>Where are the goodies?</h3>
</div>
<div class="container-fluid bg-2 text-center">
    <p>
        Source code:
        <a style="color: #00cc00"
           href="https://github.com/gaufung/BlazorECharts"
           target="_blank">
            https://github.com/gaufung/BlazorECharts
        </a>
    </p>
</div>

<div class="container-fluid bg-3 text-center">
    <h3>Where To Find Me?</h3>
    <p>
        GitHub:
        <a href="https://github.com/gaufung"
           target="_blank">
            https://github.com/gaufung
        </a>
    </p>
    <p>
        Twitter: <a href="https://twitter.com/gaufung" target="_blank">@@gaufung</a>
    </p>
</div>

@functions{
}